<?xml version="1.0"?>
<config>
 <run>
  <start.date>2004/01/01</start.date>
  <end.date>2004/12/30</end.date>
  <met.path>/home/kristinariemer/pecan/models/biocro/tests/testthat/data/US-Bo1</met.path>
  <soil.file></soil.file>
 </run>
 <location>
  <latitude>38.674593</latitude>
  <longitude>-90.397189</longitude>
 </location>
 <simulationPeriod>
  <dateofplanting>2004/01/01</dateofplanting>
  <dateofharvest>2004/12/30</dateofharvest>
 </simulationPeriod>
 <pft>
  <type>
   <photosynthesis>C4</photosynthesis>
   <genus>Setaria</genus>
   <name>SetariaWT_A10</name>
  </type>
  <canopyControl>
   <Sp>4.38464283420171</Sp>
   <SpD>0</SpD>
   <nlayers>10</nlayers>
   <kd>0.467652004715613</kd>
   <chi.l>1</chi.l>
   <mResp>0.02,0.03</mResp>
   <heightFactor>3</heightFactor>
   <leafwidth>0.04</leafwidth>
   <eteq>0</eteq>
  </canopyControl>
  <iPlantControl>
   <iRhizome>3</iRhizome>
   <iStem>1</iStem>
   <iLeaf>0</iLeaf>
   <iRoot>1</iRoot>
   <ifrRhizome>0.01</ifrRhizome>
   <ifrStem>0.01</ifrStem>
  </iPlantControl>
  <photoParms>
   <vmax>29.7409235442261</vmax>
   <alpha>0.04</alpha>
   <kparm>0.7</kparm>
   <theta>0.83</theta>
   <beta>0.93</beta>
   <Rd>1.33025819997024</Rd>
   <Catm>400</Catm>
   <b0>0.0138148692577794</b0>
   <b1>5.7057446269736</b1>
   <ws>1</ws>
   <UPPERTEMP>37.5</UPPERTEMP>
   <LOWERTEMP>3</LOWERTEMP>
  </photoParms>
  <phenoControl>
   <Tbase>0</Tbase>
  </phenoControl>
  <seneControl>
   <senLeaf>3000</senLeaf>
   <senStem>3500</senStem>
   <senRoot>4000</senRoot>
   <senRhizome>4000</senRhizome>
  </seneControl>
  <soilControl>
   <FieldC>-1</FieldC>
   <WiltP>-1</WiltP>
   <phi1>0.01</phi1>
   <phi2>10</phi2>
   <soilDepth>1</soilDepth>
   <iWatCont>0.32</iWatCont>
   <soilType>6</soilType>
   <soilLayers>1</soilLayers>
   <soilDepths></soilDepths>
   <wsFun>0</wsFun>
   <scsf>1</scsf>
   <transpRes>5000000</transpRes>
   <leafPotTh>-800</leafPotTh>
   <hydrDist>0</hydrDist>
   <rfl>0.2</rfl>
   <rsec>0.2</rsec>
   <rsdf>0.44</rsdf>
  </soilControl>
  <phenoParms>
   <tp1>300</tp1>
   <tp2>600</tp2>
   <tp3>900</tp3>
   <tp4>1200</tp4>
   <tp5>1500</tp5>
   <tp6>1800</tp6>
   <kStem1>0.37</kStem1>
   <kLeaf1>0.33</kLeaf1>
   <kRoot1>0.3</kRoot1>
   <kRhizome1>-0.0008</kRhizome1>
   <kStem2>0.85</kStem2>
   <kLeaf2>0.14</kLeaf2>
   <kRoot2>0.01</kRoot2>
   <kRhizome2>-0.0005</kRhizome2>
   <kStem3>0.63</kStem3>
   <kLeaf3>0.01</kLeaf3>
   <kRoot3>0.01</kRoot3>
   <kRhizome3>0.35</kRhizome3>
   <kStem4>0.63</kStem4>
   <kLeaf4>0.01</kLeaf4>
   <kRoot4>0.01</kRoot4>
   <kRhizome4>0.35</kRhizome4>
   <kStem5>0.63</kStem5>
   <kLeaf5>0.01</kLeaf5>
   <kRoot5>0.01</kRoot5>
   <kRhizome5>0.35</kRhizome5>
   <kStem6>0.63</kStem6>
   <kLeaf6>0.01</kLeaf6>
   <kRoot6>0.01</kRoot6>
   <kRhizome6>0.35</kRhizome6>
   <kGrain6>0</kGrain6>
  </phenoParms>
 </pft>
</config>
